body {
    font-family: Arial, sans-serif;
    /* text-align: center; */
    background-color: #F5F4EF;
    color: #254D52;
}

h2 {
    text-align: center;
}

form {
    margin: 20px auto;
    width: 300px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #F5F4EF;
}

input[type="submit"] {
    background-color: #254D52;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}

.bold {
    font-weight: bold;
}

#patient_info, #patient_stats {
    background-color: #1CB6B5;
    padding-right: 54px;
    padding: 30px;
    color: #F5F4EF;
    text-align: center;
}

.top {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

table {
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.results {
    text-align: center;
    background-color: #1CB6B5;
    width: fit-content;
    margin: auto;
    padding: 30px;
    color: #F5F4EF;
}
